@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
}

button {
    background-color: black;
    border: white solid 2px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    transition: 1s;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #000;
}

.button_white {
    background-color: white;
    border: black solid 2px;
    color: #000;
}

.button_white:hover {
    background-color: black;
    color: white;
}

.section_heading {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 800;
}